@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-body: "Raleway", sans-serif;
    --font-heading: "Montserrat", sans-serif;
    --font-size: 1rem;
    --text-color: #2E2E2E;
    --background-color: #f6fff3;
    --green-100: #dfffd6;
    --green-300: #0b9b12;
    --green-500: #004225;
    --white: white;
    --margin-x: 5rem;
    --small-screen-margin-x: 2rem;
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: var(--font-body);
    font-size: var(--font-size);
    color: var(--text-color);
}

/* All Icons */
i {
    font-size: 1rem;
    color: var(--green-300);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4 {
    font-family: var(--font-heading); 
    font-weight: bold;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.3rem;
}

/* All Buttons */
button {
    border: none;
    width: fit-content;
    font: inherit;
    border-radius: 25px;
    background-color: transparent;
    font-weight: bold;
    padding: 0.7rem 1.2rem;
    background-color: var(--green-500);
    color: var(--white);
}
button:hover, i:hover, a:hover {
    cursor: pointer;
}

/* NavBar */
nav {
    margin: 1.5rem var(--margin-x);
}
nav .main-nav, 
nav .mobile-nav ul,
.main-nav #links, 
#links ul, 
nav .icons, 
#logo {
    display: flex;
    align-items: center; 
}
nav .main-nav, nav .mobile-nav ul {
    justify-content: space-between;    
}
.main-nav #links, #links ul {
    gap: 3rem;
}
nav ul .list {
    color: var(--text-color);
    text-decoration: none;
}
nav ul .list:hover {
    color: var(--green-300);
    text-decoration: underline;
}
nav .icons {
    gap: 1rem;
}
nav .icons i:hover {
    color: var(--green-500);
}
.hamburger-icon, .mobile-nav {
    display: none;
}
.hamburger-icon {
    background-color: transparent;
    padding: 0;
}

/* Logo */
#logo i, #logo #brand-name {
    font-size: 1.2rem;
    font-weight: bold;
}
#logo #brand-name span {
    color: var(--green-300);
}

/* HomePage: Hero Section */
main {
    width: auto;
    padding: 3rem var(--margin-x);
    display: flex;
    justify-content: space-between;
    height: 350px;
    background-color: var(--green-100);
}
main article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    width: 60%; 
}
main article p {
    line-height: 1.8;
}
main article p#tagline,
main article h2 span {
    color: var(--green-300);
}
.image-container {
    width: 370px;
    background-color: var(--green-500);
    height: 370px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.image-container img {
    position: absolute;
    height: 440px;
    width: 100%;
    object-fit: cover;   
}

/* HomePage: Banner Section */
#banner {
    width: auto;
    margin-top: 2rem;
    padding: 0 var(--margin-x);
    background-image: url("../assets/images/banner.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 2rem;
}
#banner h3 {
    line-height: 1.5;
    width: 50%;
    text-align: end;
    font-size: 2rem;
    color: var(--green-500);
}
#banner button {
    background-color: var(--green-300); 
    color: white;
}

/* About Page */
#about {
    padding: var(--margin-x)  ;
    background-color: #eefdea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto; 
    gap: 4rem;
}
#about img {
    border-radius:var(--border-radius);
    height: 100%;
    width: 50%;
    object-fit: cover;
    object-position: bottom;
}
#about article {
    width: 50%;
    line-height: 2;  
}
#about article h2 {
    line-height: 1.5;
}
#about  article h2 span {
    color: var(--green-300);
}
#about article .paragraph-text {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    
}
#about article ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#about article ul li i {
    margin-right: 0.5rem;
    color: var(--green-300);
}

/* Products Page */
#products {
    background-color: var(--green-100);
    margin-top: 1rem;
    padding: 2rem var(--margin-x);
    min-height: 100vh;
}
#products-header, 
#products-header > div, 
.details > div {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

#products-header h2 {
    font-size: 2rem;
    color: var(--green-500);
}
#products-header button {
    background-color: var(--green-300);
    padding: 0.5rem 1rem;
}
#products-header button:hover {
    background-color: var(--green-500);
    color: var(--white);
}
#products form {
    background-color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    box-shadow: 0 0 5px rgb(219, 215, 215);
}
#products form i:hover {
    font-size: small;
}
#products input {
    border: none;
    background-color: transparent;
}
#products input:focus {
    outline: none;
}
#products input::placeholder {
    color: rgb(156, 154, 154);
    font: inherit;
}
#product-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem 1rem;
    margin-top: 2rem;
}
#product-cards .product-card {
    border-radius: var(--border-radius);
    width: auto;
    max-width: 300px;
    height: fit-content;
    background-color: rgb(248, 255, 246);
}
.product-card button {
    background-color: var(--green-300);
    font-size: 0.8rem;
    padding: 0.5rem;
    border-radius: var(--border-radius) 0 0 0;
}
.product-card button:hover {
    background-color: var(--green-500);
}
.product-card .product-image{
    height: 200px;
    width: 100%;
    object-fit: contain; 
}
.product-card .product-text {
    padding: 0 1rem 1rem 1rem;
    font-weight: bold;
    color: var(--green-300);
}
.product-text > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem; 
}
.product-review {
    height: 20px;
}
.indicator-message {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3rem;
    font-weight: bold;
    color: var(--green-300);
}

/* Product Details */
.product-details-container {
    background-color: var(--green-100);
    background-image: url("/src/assets/images/banner.jpg");
    height: auto;   
    background-size: cover;
    background-blend-mode: soft-light;
    padding: var(--margin-x);
}
.product-details {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;  
}
.product-details .product-image {
    height: 400px;
    width: 50%;
    /* background-color: #b6ffa1; */
    background-color: #d5ffc9;    
    border-radius: 50px;
}
.product-details img {
    object-fit: contain;
    height: 100%;
    width: 100%; 
}
.product-details .product-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.product-content .title {
    font-size: 2.8rem;
    color: var(--green-300);
}
.product-content .price, .quantity > p {
    color: var(--green-300);
    font-weight: bold;
}
.product-content > p {
    width: 95%;
    line-height: 2rem;   
}
.product-content .quantity {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.product-content .quantity .qty-btn {
    background-color: var(--green-300);
    opacity: 50%;
    padding: 0.2rem 0.8rem;
}
.product-content .quantity .qty-btn:hover {
    opacity: 100%;
}
.product-content .quantity i {
    color: var(--white);
    font-weight: bold;
    font-size: 0.9rem;  
}
.product-content .quantity p {
    font-size: 1.8rem;
    color: var(--green-300);
    font-weight: bold;
}
.product-content .add-to-cart-btn {
    width: fit-content;
}
.product-content .add-to-cart-btn:hover {
    opacity: 90%;
}
.product-content .add-to-cart-btn:disabled {
    opacity: 50%;
}
#cart-message {
    margin-top: 1rem; 
    color: var(--green-500);
    font-size: 1rem;
    text-align: left;
    font-style: italic;
    font-weight: bold;
}
.controls {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
.controls button {
    border-radius: 8px;
}

/* Checkout Layout */
#checkout {
    padding:2rem  var(--margin-x);
    background-image: url("../assets/images/checkout.jpg"); 
    background-size: cover;
    background-position: center;
    height: auto;
    min-height: 100vh;
}
#checkout > button {
    border-radius: 10px;
    margin-bottom: 2rem;
}
#checkout .output {
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem; 
}
/* Cart */
.cart, .order-summary {
    margin-top: 2rem;
    height: fit-content;
    background-color: var(--white);
    border-radius: 15px;
    padding: 1.5rem; 
    color: var(--green-500);
    box-shadow: 0 0 10px gray; 
}
.cart {
    width: 50%;
}
.cart .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.cart .heading strong {
    color: var(--green-300);
}
.cart .cart-card {
    margin: 1rem 0;
    color: var(--green-300);
}
.cart .cart-card, 
.cart .cart-card > div,
.total,
.order-summary .order-details {
    display: flex;
    align-items: center;  
}
.cart .cart-card,
.total,
.order-summary .order-details { 
    justify-content: space-between; 
}

.cart .cart-card > div {
    width: 50%;
    gap: 1rem;
}
.cart .cart-card img { 
    background-color: var(--green-100); 
    object-fit: contain;
    height: 50px;
    width: 50px;
    border-radius: 50%; 
}
.cart-card .remove-item {
    background-color: transparent;
    padding: 0;
}
.total {
    margin-top: 1.5rem;
}

hr {
    border-color: #dfffd621;
}

/* Order Summary */
.order-summary {
    width: 40%;
}
.order-summary .order-details {
    margin-top: 1rem;
}
.order-summary .order-details img {
    width: 10%;
    object-fit: contain;
    height: 70px;
}
.order-summary h3, .order-summary h4 {
    color: var(--green-300);
}
.order-summary .total > strong {
    color: var(--green-300);
}
#confirm-btn {
    margin-top: 1.5rem;
    width: 100%;
    padding: 1rem 0;
}

/* Summary Page */ 
#checkout .success-page {
    height: 350px;
    width: fit-content;
    background-color: var(--green-500);
    border-radius: 30px;
    color: var(--white);
    box-shadow: 0 0 10px rgba(24, 24, 24, 0.63);
    animation: slideDown 0.5s ease-in forwards;
    margin: 3rem auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 2rem; */
    gap: 0.5rem;
}
#checkout .success-page > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 1rem;
    letter-spacing: 1px;
    padding: 2rem;
    font-family: var(--font-heading);
    text-align: center;
}
#checkout .success-page img {
    border-radius: 0 20px 20px 0;
    height: 100%;
}
.success-page i {
    font-size: 2.5rem;
    color: var(--green-100);
}

/* Account Page */
#account {
    min-height: 100vh;
    height: auto;
    background-image: url("../assets/images/account.jpg");
    background-position: right;
    background-size: cover;
    padding: 4rem 2rem 4rem 0;  
    display: flex;
    justify-content: end;
    align-items: center;
    color: var(--green-500);
    font-weight: bold;
}
#account .dialog-box {
    /* background-color: rgba(255, 255, 255, 0.774); */
    background-color: var(--green-500);
    height: fit-content;
    width: 45%;
    border-radius: var(--border-radius);
    padding: 3rem 2rem;
    color: var(--white);
}
#account .dialog-box .heading {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    font-family: var(--font-heading);
    margin-bottom: 1.5rem;
}
#account .dialog-box .names {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
#account form {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}
#account form label {
    font-size: 0.9rem;
}
#account form input {
    padding: 0.7rem;
    border-radius: 5px;
    border: none;  
    background-color: var(--white);
}
#account form input.invalid {
    border: 2px solid red;
}
#account form input.invalid::placeholder {
    color: red;
}
#account form input:focus {
    outline: none;
    /* box-shadow: 0 0 5px var(--white); */
    background-color: var(--green-100);
}
#account form input::placeholder {
    color: rgba(128, 128, 128, 0.795);
}
#account button {
    margin: 1.5rem 0;
    width: 100%;
    border-radius: 10px;
    padding: 0.8rem 0;
    background-color: var(--green-300);
}
#account .page-navigation {
    text-align: center;
    font-size: 0.9rem;
}
#account .page-navigation a {
    text-decoration: underline;
}
#account .page-navigation a:hover {
    color: var(--green-300);
}
/* Footer Section */
footer {
    padding: 1rem var(--margin-x);
    /* margin-top: 1rem; */
    background-color: var(--green-500);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
footer i {
    color: white;
}
footer .icons i {
    margin-left: 0.3rem
}

@keyframes slideDown {
    from {
        transform: translateY(-100%)
    }
    to {
        transform: translateY(0);
    }
}
@media (max-width: 992px) {
    nav {
        margin: 1rem var(--small-screen-margin-x);
    }
    #links ul {
        display: none;
    }
    .hamburger-icon, .mobile-nav.block {
        display: block;
    }
    .mobile-nav {
        margin-top: 1.5rem;
    }
    .mobile-nav ul li a {
        color: var(--green-300);
    }
    
    main {
        height: auto;
        flex-direction: column;
        padding: 2rem  var(--small-screen-margin-x);
    }
    main article {
        width: 100%;
    }
    .image-container {
        display: none;
    }
    #banner {
        background-color: var(--green-300);
        align-items: center;
        margin-top: 0;
        height: auto;
        background-image: none;
        padding: 2rem var(--small-screen-margin-x);
    }
    #banner h3 {
        color: var(--white);
        text-align: center;
        width: 100%;
    }
    #banner button {
        background-color: var(--white);
        color: var(--green-300);
    }

    #about {
        padding: var(--small-screen-margin-x);
        flex-direction: column;
    }
    #about img {
        object-position: center;
        height: 300px;
        width: 100%;
    }
    #about article {
        width: 100%;   
    }
    #about article .paragraph-text {
        width: 80%;
    }

    #products {
        padding-left: var(--small-screen-margin-x);
        padding-right: var(--small-screen-margin-x);
    }
    #products-header {
        gap: 1.5rem;
        margin-bottom: 3rem;
    }
    #products-header h2 {
        font-size: 1.7rem;
        line-height: 1.5;
    }

    .product-details-container {
        padding: var(--small-screen-margin-x);
    }
    .product-details {
        flex-direction: column;
    }
    .product-details .product-image {
        height: 250px;
        width: 100%;
    }
    .product-details .product-content {
        width: 100%;
    }
    #checkout {
        padding: var(--small-screen-margin-x);
    }
    #checkout > button {
        margin-bottom: 0;
    }
    #checkout .output {
        display: block;
    }
    .cart, .order-summary {
        width: auto;
    }
    .cart .heading {
        display: block;
        line-height: 2;
    }
    
    #checkout .success-page {
        flex-direction: column;
        height: auto;
    }
    #checkout .success-page > div {
        height: 100%;
    }
    #checkout .success-page img {
      height: 110px;
      border-radius: 0 0 10px 10px;
    }

    #account {
        justify-content: center;
        padding-left: 2rem;
    }
    #account .dialog-box {
       width: auto;
    }
   
    footer {
        padding-left: var(--small-screen-margin-x);
        padding-right: var(--small-screen-margin-x);
    }

    
}

@media(max-width: 576px) {
     #product-cards .product-card {
        max-width: none;
    }
    #account .dialog-box .names {
        flex-direction: column;
    }

}

